<table summary = "events detail view">
 		<tr>
	 	<th>Name</th>
	 	<td><%= @event.name %></td>
 		</tr>
 	 
 		<tr>
	 	<th>age</th>
	 	<td><%= @event.age %></td>
 		</tr>
 		<tr>
 		<th>address</th>
 		<td><%= @event.address %></td>
 		</tr> 		
 </table>
 </div>