<table summary = "schools detail view">
 		<tr>
	 	<th>Name</th>
	 	<td><%= @school.name %></td>
 		</tr>
 	 
 		<tr>
	 	<th>univercity</th>
	 	<td><%= @school.univercity %></td>
 		</tr>
 		<tr>
 		<th>location</th>
 		<td><%= @school.location %></td>
 		</tr> 
 		<tr>
 		<th>city</th>
 		<td><%= @school.city %></td>
 		</tr>		
 </table>
 </div>